* {
    margin: 0;
    padding: 0;
}
:root{
    --font_color:rgb(078, 110, 242);
}

body{
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
}

#title{
    margin-top: 50px;
    text-align: center;
    letter-spacing: 5px;
    color: var(--font_color);
}


.login_box{
    height: 550px;
    background: rgba(78, 111, 242, 0.281);
    padding: 10px;
}

.login_box_left{
    width: 500px;
    height: 100%;
    float: left;
    margin-left: 20px;
}
.input_list{
    height: 50px;
    line-height: 50px;
}
#hxId,#hxPwd,#toId,#msgId{
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 0 5px;
    caret-color: #3471ED;
}
.sendMsg_box{
    margin-top: 10px;
}
.sendMsg_box form{
    display: flex;
    flex-direction: column;
}
.sendMsg_box>form>label{
    cursor: pointer;
    margin: 5px 0;
}
.login_box_right{
    float: left;
    margin-left: 50px;
    width: 500px;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(121, 159, 240);
}

.msgList_box_content{
    height: 100%;
}
.msgList_box_content>h3{
    text-align: center;
}